doctype html
head
  meta(charset='utf-8')
  title Personal Site
  meta(name='description', content='A personal site to show my progress.')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='../css/reset.css')
  link(rel='stylesheet', href='../css/main.css')


 body
  div.section-visual.hero
      div.container-shapes
        a.js-anchor(data-scroll href='#explore')
          div.triangle
        a.js-anchor(data-scroll href='#learn')
          div.square
        a.js-anchor(data-scroll href='#share')
          div.circle


  section.section-visual.explore#explore
    a.js-anchor(data-scroll href='#explore')
        div.triangle-divider
    div.container-sections
      article.content
        h1 focus
        div.container
          div.item
            h2 future
            p concept
          div.item
            h2 current
            p front-end
          div.item
            h2 past
            p ux research
      article.content
        h1 articles
      article.content
         h1 books

  section.section-visual.learn#learn
    a.js-anchor(data-scroll href='#learn')
      div.square-divider
    div.container-sections
      article.content
        h1 key learnings
      article.content
        h1 code
      article.content
        h1 design

  section.section-visual.share#share
    a.js-anchor(data-scroll href='#share')
      div.circle-divider
    div.container-sections
      article.content
        h1 twitter
      article.content
        h1 talks
      article.content
        h1 blog posts

  script(src='../js/smooth-scroll.js')
  //- script(src='../js/main.js')

  script.
    smoothScroll.init();


