doctype html
head
  meta(charset='utf-8')
  title Personal Site
  meta(name='description', content='A personal site to show my progress.')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='../css/normalize.css')
  link(rel='stylesheet', href='../css/main.css')
 body
  div.section-visual.hero
    div.container-shapes
      a(href='#')
        div.triangle
      a(href='#')
        div.square
      a(href='#')
        div.circle
  div.content
    section.section-visual.explore#explore
      div.triangle-divider

    section.section-visual.learn#learn
      div.square-divider

    section.section-visual.share#share
      div.circle-divider



