doctype html
head
  meta(charset='utf-8')
  title Personal Site
  meta(name='description', content='A personal site to show my progress.')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='../css/reset.css')
  link(rel='stylesheet', href='../css/main.css')


 body
  div.section-visual.hero
      div.container-shapes
        a.js-anchor(data-scroll href='#explore')
          div.triangle
        a.js-anchor(data-scroll href='#learn')
          div.square
        a.js-anchor(data-scroll href='#share')
          div.circle


  section.section-visual.explore#explore
    a.js-anchor(data-scroll href='#explore')
        div.triangle-divider
    div.container-sections
      article.column
        h1.title-icon focus
      article.column
        h1.title-icon articles
      article.column
         h1.title-icon books

  section.section-visual.learn#learn
    a.js-anchor(data-scroll href='#learn')
      div.square-divider
    div.container-sections
      article.column
        h1.title-icon key learnings
      article.column
        h1.title-icon code
      article.column
        h1.title-icon design

  section.section-visual.share#share
    a.js-anchor(data-scroll href='#share')
      div.circle-divider
    div.container-sections
      article.column
        h1.title-icon twitter
      article.column
        h1.title-icon talks
      article.column
        h1.title-icon blog posts

  script(src='../js/smooth-scroll.js')
  //- script(src='../js/main.js')

  script.
    smoothScroll.init();


