doctype html
head
  meta(charset='utf-8')
  title Personal Site
  meta(name='description', content='A personal site to show my progress.')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='../css/main.css')


 body
  div.section-visual.hero
      div.container-shapes
        a.js-anchor(data-scroll href='#explore')
          div.triangle
        a.js-anchor(data-scroll href='#learn')
          div.square
        a.js-anchor(data-scroll href='#share')
          div.circle

  div.content
    section.section-visual.explore#explore
      div.triangle-divider
      div.content-sections
        article.column
          div.icon-box
            img.icon(src='../assets/noun_130008_cc.svg')
            h1.title-icon
        article.column
          div.icon-box
            img.icon.icon-focus(src='../assets/noun_163345_cc.svg')
            h1.title-icon
        article.column
          div.icon-box
            img.icon.icon-smaller(src='../assets/noun_16319_cc.svg')
            h1.title-icon

    section.section-visual.learn#learn
      div.square-divider
      div.content-sections
        article.column
          div.icon-box
            img.icon.icon-smaller(src='../assets/noun_45868_cc.svg')
            h1.title-icon
        article.column
          div.icon-box
            img.icon.icon-smaller.icon-design(src='../assets/noun_5039_cc.svg')
            h1.title-icon
        article.column
          div.icon-box
            img.icon.icon-rotate(src='../assets/noun_655.svg')
            h1.title-icon

    section.section-visual.share#share
      div.circle-divider
      div.content-sections
        article.column
          div.icon-box
            img.icon.icon-twitter(src='../assets/TwitterLogo_white.png')
            h1.title-icon
        article.column
          div.icon-box
            img.icon.icon-talk(src='../assets/noun_12155.svg')
            h1.title-icon
        article.column
          div.icon-box
            img.icon(src='../assets/Medium-logo-light100.png')
            h1.title-icon

    script(src='../js/smooth-scroll.js')
    //- script(src='../js/main.js')

    script.
      smoothScroll.init();


